html {
  font-size: 14px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

body {
  font-family: 'Helvetica', sans-serif; }

body.home {
  /* To make the menu scrollspy work */
  position: relative;
  background-attachment: fixed;
  background-color: #ffffff;
  background-image: url("/img/site-cover.jpg");
  background-overflow: visible;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #ffffff; }
  body.home #content {
    -webkit-border-radius: 8px;
            border-radius: 8px; }

.container {
  max-width: 960px; }

.card-title {
  font-family: -apple-system; }

/* == Header == */
.nav .nav-link.active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: solid 6px #41b6e6; }

#navbar.floating-active {
  background-color: rgba(255, 255, 255, 0.5); }

a i {
  color: black; }

#navbar.bg-white, #navbar:not(.bg-white) {
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }

/* Title */
section#about {
  padding-top: 96px;
  padding-bottom: 60px; }

/* == Blog == */
.post {
  max-width: 700px;
  /* font-family: 'Open Sans', sans-serif; */
  line-height: 1.8; }
  .post p {
    text-align: justify; }

/* Ripped out of Bootstrap 3.3.0 becuase it looks much better */
/* In-line code, from markdown ` */
code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: 'Inconsolata', monospace; }

/* Blocks of code, from markdown ``` */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.25;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  page-break-inside: avoid; }

/* Basically turn all of the `code` style back off inside a pre ``` block */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  /* Despite hugo syntax highlighting, still applies to a few syntax elements like ( */
  background-color: inherit;
  white-space: pre-wrap;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 1rem; }

/* == Floating Header == */
.floating-header {
  visibility: hidden;
  z-index: 998;
  padding-top: 64px;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, -120%, 0);
          transform: translate3d(0, -120%, 0); }

.floating-active {
  visibility: visible;
  -webkit-transition: all 500ms cubic-bezier(0.22, 1, 0.27, 1);
  -o-transition: all 500ms cubic-bezier(0.22, 1, 0.27, 1);
  transition: all 500ms cubic-bezier(0.22, 1, 0.27, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.progress {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 6px;
  border: none;
  color: #ff8b82;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
